name: Automatically update flake if outdated
on:
    workflow_call:

jobs:
    update-flake:
        name: Update flake if outdated
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Check out repository
              uses: actions/checkout@v4
              with:
                presist-credentials: true
                fetch-depth: 2

            - name: Setup Nix
              uses: DeterminateSystems/determinate-nix-action@v3
            
            - name: Run .#updateScript
              run: nix run .#updateScript

            - name: Check for changes
              id: check_changes
              run: |
                if git diff --quiet; then
                  echo "No changes detected."
                  echo "changes=false" >> $GITHUB_OUTPUT
                else
                  echo "Changes detected."
                  echo "changes=true" >> $GITHUB_OUTPUT
                fi
            
            - name: Try build package
              if: steps.check_changes.outputs.changes == 'true'
              run: nix build .#default
            
            - name: Commit and push changes
              if: success() && steps.check_changes.outputs.changes == 'true'
              run: |
                git config user.name "Introducing Bloats CI"
                git config user.email "introducingbloats-ci@fmt.kr"
                git add .
                git commit -m "Bump version (automated)"
                git push

            - name: Write summary
              if: success()
              run: echo "Flake was outdated and has been updated and pushed." >> $GITHUB_STEP_SUMMARY
            

